.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: rgba(31, 36, 45, 0.9);
}
