.home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 100px 10% 0;
  @media (min-width: 1201px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.home-content {
  @media (min-width: 1201px) {
    max-width: 600px;
  }
}

.home-content h1 {
  margin: -3px 0;
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
  @media (min-width: 601px) {
    font-size: 56px;
  }
}

.home-content h3 {
  font-size: 22px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;

  &:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
  }

  span {
    color: $accent-color;
  }

  @media (min-width: 601px) {
    font-size: 32px;
  }
}

.home-content p {
  font-size: 16px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-image img {
  max-width: 200px;
  box-shadow: 0 0 10px $accent-color;
  border: 2px solid $accent-color;
  border-radius: 20px;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
  @media (max-width: 1200px) {
    margin: 0 auto;
  }

  @media (min-width: 601px) {
    max-width: 260px;
  }

  @media (min-width: 1201px) {
    margin-right: -20px;
    max-width: 320px;
  }
}
