.projects {
  padding: 120px 10% 0;
}

.projects h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  @media (min-width: 601px) {
    font-size: 32px;
  }
}

.projects__list {
  list-style: none;
  @media (min-width: 601px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (min-width: 1201px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.projects__items {
  overflow: hidden;
  border: 2px solid $accent-color;
  border-radius: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc($navbar-link-delay * var(--i));

  &:hover {
    box-shadow: 0 0 10px $accent-color;
  }

  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
}

.projects__link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}
