.skills {
  padding: 100px 10% 0;
}

.skills h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;

  @media (min-width: 601px) {
    font-size: 32px;
  }
}

.skills__list {
  list-style: none;
}

.skills_item {
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc($navbar-link-delay * var(--i));
}

.skills__text {
  color: $accent-color;
}
